.technology {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.technology-content-container {
  width: 100%;
  margin-top: 10rem;
}

.technology-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  gap: 3rem;
  text-align: center;
}

.technology-about-container {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.tech-nav {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.tech-nav-item {
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgb(255 255 255 / 0.3);
  font-family: var(--bellefair);
  color: var(--accent-color);
  font-size: 3.2rem;
}

.tech-nav-item:hover {
  border: 1px solid var(--accent-color);
}

.tech-nav-selected {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.technology-about {
  width: 100%;
  max-width: 50rem;
}

.technology-image {
  width: 100%;
}

.technology-image img {
  width: 100%;
}

.terminology {
  font-family: var(--barlow-condensed);
  font-size: 1.6rem;
  line-height: 1.7rem;
  letter-spacing: 0.24rem;
  margin-block-end: 1.5rem;
  color: var(--secondary-color);
}

.technology-name {
  font-family: var(--bellefair);
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-block-end: 3rem;
}

.technology-desc {
  color: var(--secondary-color);
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-bottom: 5rem;
}

@media (min-width: 480px) {
  .technology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .tech-page-title {
    margin-left: 5%;
  }
  .technology-name {
    font-size: 4rem;
  }
}

@media (min-width: 900px) {
  .technology {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
  .tech-page-title {
    margin: 0;
    margin-bottom: 2rem;
  }
  .technology-details {
    flex-direction: row;
    text-align: left;
  }
  .technology-about-container {
    flex-direction: row;
  }
  .tech-nav {
    flex-direction: column;
  }
  .technology-name {
    font-size: 5.6rem;
  }
  .technology-desc {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .technology-image {
    width: 40rem;
  }
}
