.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}

.section {
  width: 100%;
  min-height: 100%;
}

.container {
  width: 90%;
  max-width: 1104px;
  margin: 0 auto;
  outline: 2px solid green;
}

.page-title {
  text-transform: uppercase;
  font-family: var(--barlow-condensed);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  margin-bottom: 3rem;
  text-align: center;
}
.page-title > span {
  margin-right: 2rem;
  opacity: 0.3;
}

@media (min-width: 480px) {
  .page-title {
    font-size: 2rem;
    letter-spacing: 0.34;
    text-align: left;
  }
}

@media (min-width: 900px) {
  .page-title {
    font-size: 2.8rem;
    letter-spacing: 0.47rem;
  }
}
